@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="row mx-5 justify-content-center">


    <div class="col row justify-content-center">
        <div class="card row justify-content-center" style="width: 18rem;">
            <img class="card-img-top" src="~/img/computadora.jpg" alt="Foto de computadora">
            <div class="card-body">
                <h5 class="card-title">Cliente</h5>
                <p class="card-text">
                    En nuestro sitio web vas a poder ver los distintos comercios que tenemos para vos. Elegi el que mas te guste y reserva
                    tu turno desde la comodidad de tu hogar.
                </p>
                <a asp-area="" asp-controller="Usuario" asp-action="Create">
                    <button type="button" class="btn btn-primary">Registrarse como Cliente</button>
                </a>
            </div>
        </div>

    </div>



    <div class="col row justify-content-center">
        <div class="card row justify-content-center" style="width: 18rem;">
            <img class="card-img-top" src="~/img/barber-shop.jpg" alt="Foto de barber shop">
            <div class="card-body">
                <h5 class="card-title">Comercio</h5>
                <p class="card-text">
                    Si es la primera vez que ingresas a nuestra pagina, registra tu negocio y tene un control de todos tus
                    turnos para sacarle un mejor provecho a tu negocio
                </p>
                <a asp-area="" asp-controller="Comercio" asp-action="Create">
                    <button type="button" class="btn btn-primary">Registrarse como Comercio</button>
                </a>
            </div>
        </div>

    </div>
</div>

<br />
<br />

