@{
    ViewData["Title"] = "Pagina principal";
}

<br />
<br />

<div class="text1">
    <h4>
        Reserva tus turnos con
        mayor facilidad
    </h4>
    <p>
        En TurnoYa vas a poder
        encontrar múltiples servicios de
        diferentes rubros,donde podes
        reservar cuando quieras y tener
        tu turno en cuestión de
        segundos.
    </p>
</div>



<img class="img1" src="~/img/turnos-transparente.png " />



<br />
<br />

<div class="text2">
    <h4>
        No te olvides mas de tus
        turnos
    </h4>

    <p>
        Recibí con 24 hs de antelación un mail
        con los detalles de turno, además de
        poder ver tu agenda cuando quieras.
    </p>
</div>


<img class="img2" src="~/img/noti.png" />