@{
    ViewData["Title"] = "Pagina principal";
}
<br />
<br />
<br />
<br />
<h4>
    Reserva tus turnos con
    mayor facilidad
</h4>
<p>
    En proyecto vas a poder
    encontrar múltiples negocios de
    diferentes rubros,donde podes
    reservar cuando quieras y tener
    tu turno en cuestión de
    segundos.
</p>

<br />
<br />
<br />
<br />

<h4>
    No te olvides mas de tus
    turnos
</h4>

<p>
    Recibí con 24 hs de antelación un mail
    con los detalles de turno, además de
    poder ver tu agenda cuando quieras.
</p>
