/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Roboto', sans-serif;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-family: 'Roboto', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

    nav ul li a::before {
        display: block;
        content: '';
        width: 0%;
        background: white;
        height: 3px;
        top: 0;
        position: absolute;
        transition: width 0.3s;
    }

    nav ul li a:hover::before {
        width: 100%;
    }

nav ul li {
    list-style: none;
    margin-left: 35px;
    padding: 7px 0;
    float: left;
    position: relative;
}




/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Roboto', sans-serif;
}



h1 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


