@model MVCBasico.Models.Usuario

@{
    ViewData["Title"] = "";
}

<h4>Iniciar Sesion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IniciarSesion">

            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <script src="Validacion.js"></script>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
